<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>
  <mat-form-field>
    <mat-label>Cost purpose</mat-label>
    <input required #inputTitle matInput [(ngModel)]="tmpFlowPurpose" [formControl]="purposeValidValue">
    <mat-error *ngIf="purposeValidValue.invalid">{{getErrorMessage()}}</mat-error>

    <button *ngIf="tmpFlowPurpose.trim().length > 0" mat-button matSuffix mat-icon-button aria-label="clear"
            (click)="tmpFlowPurpose=''" class="dialog-cost-title">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Payment</mat-label>
    <input type="number" required #inputPayment matInput [(ngModel)]="tmpPayment" [formControl]="paymentValidValue">
    <mat-error *ngIf="paymentValidValue.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>To</mat-label>
    <input matInput [(ngModel)]="tmpTo">

    <button *ngIf="tmpTo.trim().length > 0" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="tmpTo = ''" class="dialog-cost-to">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Transaction date</mat-label>
    <input required #inputDate matInput
           readonly="true" [matDatepicker]="picker"
           [(ngModel)]="tmpDate" [formControl]="dateValidValue"
           (click)="picker.open()">
    <mat-error *ngIf="dateValidValue.invalid">{{getErrorMessage()}}</mat-error>
    <mat-datepicker #picker></mat-datepicker>

    <button *ngIf="inputDate.value.trim().length > 0" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="tmpDate = null" class="dialog-date-title">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button class="confirm-btn" (click)="onConfirm()"
            [disabled]="inputTitle.value.trim().length === 0 || inputPayment.valueAsNumber < 0 ||
            !inputPayment.value || inputDate.value.trim().length === 0">
      Save
    </button>

    <button class="discard-btn" mat-raised-button (click)="onCancel()">Discard</button>
  </mat-dialog-actions>
</mat-dialog-content>
