.regular {
  color: #1e7e34;
}

.cashbook-name {
  position: absolute;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.edit-pointer {
  cursor: pointer;
}

.add-income-btn {
  width: 100%;
  color: white;
  background-color: #5fa76f;
}

hr {
  background-color: #5fa76f;
}

.delete-cashbook {
  color: #bd2130;
  bottom: 12px;
  left: 98%;
}

h6.balance {
  position: absolute;
  left: 51%;
}

.notFullPaid {
  color: #bd2130;
}

.add-costs-btn {
  width: 100%;
  color: white;
  background-color: #5fa76f;
}
