.regular {
  color: #1e7e34;
}

.cashbook-name {
  position: absolute;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.edit-pointer {
  cursor: pointer;
}

.add-income-btn {
  width: 100%;
  color: white;
  background-color: #5fa76f;
}

.delete-cashbook {
  color: #bd2130;
  right: 1%;
}

.edit-cashbook {
  color: #e29342;
}

h6.balance {
  position: absolute;
  left: 51%;
}

.notFullPaid {
  color: #bd2130;
}

.add-costs-btn {
  width: 100%;
  color: white;
  background-color: #5fa76f;
}

.not-found {
  margin-top: 30px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;
}

.mat-ink-bar {
  background-color: #5fa76f !important;
}
