body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #444;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  outline: none !important;
  letter-spacing: 0;
}
