<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Accordion - srtdash</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<div class="page-container">
  <div class="main-content">
    <div class="page-title-area">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="breadcrumbs-area clearfix">
            <h4 class="page-title pull-left">Financial guide</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-inner">
      <div class="row">
        <div class="col-lg-11 mt-5">
          <app-cashbook [cashbooks]="cashbooks"
                        (addCashbook)="onAddCashbook($event)">
          </app-cashbook>
        </div>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</div>
</body>
</html>
