<div class="card">
  <div class="card-body">
    <div class="cashbook-header">
      <button mat-raised-button class="add-cashbook" (click)="openAddCashbookDialog()">New cashbook</button>
    </div>
    <div class="cashbook-body">
      <div id="cashbook">
        <app-income-cost [cashbooks]="cashbooks"
                         [incomes]="incomes"
                         [costs]="costs"
                         [abstractSearchValues]="abstractSearchValues"
                         (addIncome)="onAddIncome($event)"
                         (updateIncome)="onUpdateIncome($event)"
                         (deleteIncome)="onDeleteIncome($event)"
                         (searchIncomes)="searchIncomes($event)"
                         (updateCashbook)="onUpdateCashbook($event)"
                         (deleteCashbook)="onDeleteCashbook($event)"
                         (searchCosts)="searchCosts($event)"
                         (addCost)="onAddCost($event)"
                         (updateCost)="onUpdateCosts($event)"
                         (deleteCost)="onDeleteCosts($event)">
        </app-income-cost>
      </div>
    </div>
  </div>
</div>
