<div class="card">
  <div class="card-body">
    <div class="cashbook-header">
      <h4 class="header-title">Cashbooks</h4>
    </div>
    <button mat-icon-button class="add-cashbook" (click)="openAddCashbookDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="cashbook-body">
      <div id="cashbook">
        <app-income-cost [cashbooks]="cashbooks"
                         [incomes]="incomes"
                         [costs]="costs"
                         (addIncome)="onAddIncome($event)"
                         (updateIncome)="onUpdateIncome($event)"
                         (deleteIncome)="onDeleteIncome($event)"
                         (updateCashbook)="onUpdateCashbook($event)"
                         (deleteCashbook)="onDeleteCashbook($event)"
                         (addCost)="onAddCost($event)"
                         (updateCost)="onUpdateCosts($event)"
                         (deleteCost)="onDeleteCosts($event)">
        </app-income-cost>
      </div>
    </div>
  </div>
</div>
