<div class="card">
  <div class="card-body">
    <div class="cashbook-header">
    <h4 class="header-title">Cashbooks</h4>
    </div>
    <button mat-icon-button class="add-cashbook" (click)="openAddCashbookDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <div id="accordion2" class="according accordion-s2">
        <div id="accordion21" class="collapse show" data-parent="#accordion2">
          <div class="row">
            <div class="col-md-6">
              <app-income [cashbooks]="cashbooks"
                          [incomes]="incomes"
                          (updateIncome)="onUpdateIncome($event)"
                          (deleteIncome)="onDeleteIncome($event)"
                          (addIncome)="onAddIncome($event)"
                          (deleteCashbook)="onDeleteCashbook($event)"
                          (updateCashbook)="onUpdateCashbook($event)">
              </app-income>
            </div>
            <div class="col-md-6">
              <app-costs [cashbooks]="cashbooks"
                         [costs]="costs"
                         (updateCost)="onUpdateCosts($event)"
                         (deleteCost)="onDeleteCosts($event)"
                         (addCost)="onAddCost($event)">
              </app-costs>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
